/* Navbar general */
.navbar {
  background-color: #2a2a36;
  color:white;
  padding: 12px 24px;
  box-shadow: 0 4px 6px rgb(128, 120, 189);
  position: sticky;
  top: 0;
  z-index: 1000;
  border-radius: 20px;
  border-bottom:2px solid #e9c703;
}

/* Container pentru navbar */
.navbar-container {
  width: 100%;
  max-width: 1200px;
  margin:0 auto;
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Logo */
.navbar-logo {
  color: #fff;
  font-size: 1.5em;
  font-weight: bold;
  text-decoration: none;
  letter-spacing: 2px;
}

/* Listele cu link-uri */
.navbar-links {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Item-ul din navbar */
.navbar-item {
  color: #fff;
  font-size: 1.1em;
  margin-left: 20px;
  text-decoration: none;
  transition: transform 0.3s ease, color 0.3s ease;
}

.navbar-item:hover {
  color: #e9c703; /* Culoare la hover */
  transform: scale(1.1); /* Mărirea textului */
}

/* Hamburger Menu pentru ecrane mici */
.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 5px;
  width: 30px;
  height: 25px;
}

.hamburger div {
  background-color: white;
  height: 4px;
  width: 100%;
}

/* Responsivitate pentru ecrane mici */
@media (max-width: 768px) {
  .navbar-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-links {
    display: none;
    flex-direction: column;
    width: 100%;
    margin-top: 10px;
  }

  .navbar-links.active {
    display: flex;
    gap: 15px;
    align-items: flex-start;
  }

  .navbar-item {
    margin: 10px 0;
    font-size: 1.2em;
  }

  .hamburger {
    display: flex;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


